body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", "Franklin Gothic Book","Calibri","Bodoni", Helvetica, Arial;
}
.background-white {
  padding: 70px;
  height: 400px;
  background-color: white;
  background: cover;
  box-sizing: border-box;
  background-position:center;
}
.btn-hollow {
  background-color:rgba(12, 19, 58, 0 );
  border: 1px solid white;
  top:12px;
  right: 23%;
  padding: 8px 27px;
}
.btn-hollow:hover {
  background-color: Royalblue;   
}
.btn {
  flex: auto;
  margin: 20px 0px;
  padding: 8px 27px;
  font-size: 10px;
  color: white;
  cursor: pointer;
  border-radius: 17px;
  outline: none;
}
.btn-blue-1 {
  background-color:Royalblue;
  margin: 20px 0px;
  top:12px;
  border: none;
  border: 1px solid Royalblue;
  padding: 0px 20px 0px 20px;
}
.btn-blue-1:hover {
  background-color: #dcdff0;
  color: Royalblue;   
}
.action-buttons {
  width: 200px;
  display: flex;
  justify-content: flex-end;
}
.action-buttons button:first-child {
  margin-right: 25px;
}
.btn-blue-2 {
  background-color:Royalblue;
  top: 390px;
  margin: -33px 0px 0 6px;
  padding: 10px 15px 10px 15px ;
  width: -100%;
  font-size: 10px;
  border: 1px solid Royalblue;
  border: none;
  outline: none;
}
.btn-blue-2:hover {
  background-color: #dcdff0;  
  color: Royalblue;    
}
.topnav-centered {
  display: flex;
  font-size: 17px;
  color:white;
  top: 25px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
  z-index: 1;
}
.white-part {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 26px;
  color:white;
  align-items: center;
  margin-top: 70px;
}
.white-part form {
  margin-right: -75px;
}
.logo-diplomma {
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 2;
  top: 10%;
  left: 20%;
  transform: translate(-30%, -10%);
  cursor: pointer;
}
.small-letters {
  font-size: 12px;
  padding: 0px 0px 45px 0px;
  margin: -20px 0 0 0;
}
.search-field {
  padding: 10px 10px;
  border-radius: 17px;
  width: 140px;
  border: none;
  cursor: pointer;
  padding-left: 30px;
  font-size: 10px;
  outline: none;
  opacity: 100;
  background: solid white;
}
.search-keyword {
  background: white url("search.svg") left no-repeat;
  background-size: 10px ; 
  background-position: 15px; 
  margin: 0px 10px 0px -80px;
  padding-right: 10px;
}
.search-location {
  background: white url("location.svg") left no-repeat;
  background-size: 10px ;
  background-position: 15px;
  margin: -19px 20px -25px 10px;
}
::placeholder {
  color: #cccccc;
  opacity: 100%; /* Firefox */
}
.dark-letters {
  color: #00020a;
  opacity: 100%;
  font: bold;
  font-size: 25px;
  text-align: center;
}
.text-center {
  flex: auto;
  text-align: center;
}
.container-row {
  width: 23%;
  height: 100px;
  margin: 10px;
  text-align: center;
  font-size: 11px;
  border:1px solid rgb(235, 235, 238);
}  
.container-row:hover {
      color: white;
      background-color: royalblue;  
}
.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.picture-item {
    font-size: 30px;
    margin: 10px;
    padding-top: 10px;
}
.header-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 5px 20px 0 20px;
}
.header-row nav ul {
  padding-left: 60px;
  list-style: none;
  display: flex;
  justify-content: center;
}
.header-row nav ul li {
  margin-right: 35px;
  font-size: 17px;
  color:white;
  cursor: pointer;

}
.background-pic {
  background-image: url('business_people.jpg');
  width: 100%;
  height: 499px;
}
.header-row .logo {
  width: 150px;
}
.opacity-div {
  height: 100%;
  background-color: rgba(12, 19, 58, 0.7);
}
